:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fade-out {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

.active-like {
  color: var(--dialog-bg-color) !important;
}

.active-sort-button-icon {
  rotate: 180deg;
}

.invalid-input {
  background-color: var(--input-bg-color--invalid);
  outline: 2px solid var(--input-outline-color--invalid);
  outline-offset: -5px;
  color: var(--input-message-color);
  border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0 !important;
}

.invalid-text-area {
  background-color: var(--input-bg-color--invalid);
  outline: 2px solid var(--input-outline-color--invalid);
  outline-offset: -5px;
  color: var(--input-message-color);
  border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
  height: 75px !important;
}

.valid-input {
  background-color: var(--input-bg-color--valid);
  outline: 2px solid var(--input-outline-color--valid);
  outline-offset: -5px;
  color: var(--input-message-color);
  border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
}

.valid-text-area {
  background-color: var(--input-bg-color--valid);
  outline: 2px solid var(--input-outline-color--valid);
  outline-offset: -5px;
  color: var(--input-message-color);
  border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
  height: 75px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  box-shadow: 0px 0px 5px 5px var(--tab-shadow-color);
  z-index: 3;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-bg-color);
  transition: background-color 250ms ease-in-out;
  min-height: 100vh;
  font-family: "DM Sans", "Courier New", Courier, monospace;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: "DM Sans", "Courier New", Courier, monospace;
}
button:hover {
  cursor: pointer;
}

select {
  border: none;
  font-family: "DM Sans", "Courier New", Courier, monospace;
}

label:hover {
  cursor: pointer;
}

dialog {
  border: none;
}

fieldset {
  border: none;
}

input {
  border: none;
}

textarea {
  border: none;
  resize: none;
}

ul {
  list-style-type: none;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

.button {
  padding: 19px 23px;
  font-size: 18px;
  background-color: var(--buttons-bg-color);
  color: var(--buttons-color);
}
.button:hover {
  background-color: var(--buttons-bg-color--hover);
  color: var(--buttons-color--hover);
}
.button:focus {
  background-color: var(--buttons-bg-color--focus);
  color: var(--buttons-color--focus);
}
.button--rounded {
  border-radius: var(--buttons-border-radius);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
  background-color: var(--buttons-bg-color);
  color: var(--buttons-color);
  font-size: 16px;
  text-align: left;
  padding: 14px;
  width: 170px;
  border-radius: var(--buttons-border-radius);
}
@media screen and (max-width: 768px) {
  .select {
    display: block;
  }
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

.label {
  color: var(--text-color-tertiary);
  font-weight: 700;
  font-weight: 700;
  font-size: 18px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

::-webkit-scrollbar {
  background-color: var(--scrollbar-bg-color);
  border-radius: 14px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg-color);
  border-radius: 14px;
  border: 2px solid var(--scrollbar-bg-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-bg-color--hover);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-bg-color--active);
}

@supports (scrollbar-color: blue red) {
  :root {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-bg-color) var(--scrollbar-bg-color);
  }
}
:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

i {
  font-size: 14px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 60px;
  padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.header__logo {
  width: 200px;
  height: 50px;
  transition: filter 350ms ease-out;
}
.header__logo:hover {
  filter: drop-shadow(5px 5px 2px #901c1c);
}
.header__title {
  font-size: 36px;
  text-align: center;
  color: var(--text-color-secondary);
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

.main {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .main {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .main {
    margin-bottom: 50px;
  }
}
.main__cards-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
@media screen and (max-width: 768px) {
  .main__cards-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main__cards-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .main__cards-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 768px) {
  .card {
    padding: 10px 0;
  }
  .card:nth-child(odd) {
    background-color: var(--odd-card-bg-color);
    border-radius: 6px;
  }
}
.card__image {
  aspect-ratio: 1/1;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.card__text-container > * {
  text-align: center;
}
.card__name {
  color: var(--text-color-primary);
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  transition: all 350ms ease-out;
}
.card__name:hover {
  scale: 110%;
  transform: translateY(-15px);
}
.card__location {
  color: var(--text-color-secondary);
  font-size: 18px;
}
.card__slogan {
  color: var(--text-color-tertiary);
  font-size: 14px;
}
.card__invoice {
  color: var(--text-color-quaternary);
  font-size: 12px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

:root {
  --body-bg-color: white;
  --tab-shadow-color: rgb(228, 169, 59);
  --buttons-color:white;
  --buttons-color--hover:black;
  --buttons-color--focus:black;
  --buttons-bg-color:#901C1C;
  --buttons-bg-color--hover:#DB8876;
  --buttons-bg-color--active:#651414;
  --buttons-bg-color--focus:#DB8876;
  --text-color-primary:#D3573C;
  --text-color-secondary:#901C1C;
  --text-color-tertiary:black;
  --text-color-quaternary:#757575;
  --text-color-slogan:#525252;
  --text-color-invoice:black;
  --dialog-backdrop-bg-color:rgba(196, 196, 196, 0.4);
  --dialog-bg-color:#DB8876;
  --dialog-shadow-color:rgba(10, 10, 10, 0.3019607843);
  --dialog-lightbox-backdrop-bg-color:#E5E5E5;
  --input-message-color: white;
  --input-bg-color--invalid: #430000;
  --input-outline-color--invalid: #bc0f0f;
  --input-bg-color--valid:#004300;
  --input-outline-color--valid:limegreen;
  --bg-color-primary:#D3573C;
  --bg-color-secondary:#901C1C;
  --bg-color-tertiary:black;
  --bg-color-quaternary:#757575;
  --bg-color-quinary:#fafafa;
  --scrollbar-bg-color:#f1f1f1;
  --scrollbar-thumb-bg-color:#c1c1c1;
  --scrollbar-thumb-bg-color--hover:#a8a8a8;
  --scrollbar-thumb-bg-color--active:#787878;
  --odd-card-bg-color: #f1f1f1;
  --bg-color-likes-invoice: #DB8876;
  --buttons-border-radius: 5px;
}

.main {
  min-height: 100vh;
  margin: 0 100px 50px;
}
.main__invoice-likes {
  position: fixed;
  bottom: 0px;
  right: 35px;
  background-color: var(--bg-color-likes-invoice);
  color: var(--text-color-invoice);
  height: 45px;
  width: 375px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-weight: 600;
  border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
}
@media screen and (max-width: 768px) {
  .main__invoice-likes {
    height: 5%;
    width: 80%;
  }
}
.main__profile-container {
  position: relative;
  padding: 20px 10px;
  background-color: var(--bg-color-quinary);
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .main__profile-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main__profile-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
.main__photographs-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
@media screen and (min-width: 1150px) {
  .main__photographs-container {
    margin-top: 50px;
  }
}

.contact__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 3;
  overflow: hidden;
  background-color: var(--dialog-bg-color);
  color: var(--text-color-invoice);
  padding: 15px;
  border-radius: var(--buttons-border-radius);
  box-shadow: 0px 2px 8px var(--dialog-shadow-color);
  width: 40%;
  height: 90vh;
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .contact__modal {
    width: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact__modal {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .contact__modal {
    width: 100%;
    height: 100vh;
  }
}
.contact__modal-content {
  height: 100%;
}
.contact__modal::-webkit-backdrop {
  background-color: rgba(196, 196, 196, 0.4);
}
.contact__modal::backdrop {
  background-color: rgba(196, 196, 196, 0.4);
}
.contact__title-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 20%;
}
.contact__title {
  font-size: 44px;
}
@media screen and (max-width: 768px) {
  .contact__title {
    font-size: 34px;
  }
}
.contact__button-close-dialog {
  color: var(--buttons-color);
  aspect-ratio: 1/1;
  height: 35px;
}
.contact__button-close-dialog-icon {
  font-size: 35px;
  color: var(--text-color-invoice);
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  height: 75%;
}
.contact__legend {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact__fieldset {
  width: 100%;
}
.contact__fieldset-section {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact__label {
  font-size: 26px;
}
.contact__input {
  border-radius: var(--buttons-border-radius);
  width: 100%;
  height: 50px;
  font-size: 22px;
  padding: 5px 10px;
}
.contact__text-area {
  border-radius: var(--buttons-border-radius);
  width: 100%;
  height: 120px;
  font-size: 22px;
  padding: 5px 10px;
}
.contact__error-message {
  margin-top: -2px;
  padding-inline: 5px;
  background-color: var(--input-outline-color--invalid);
  color: var(--input-message-color);
  border-radius: 0 0 var(--buttons-border-radius) var(--buttons-border-radius);
  margin-bottom: 10px;
  font-size: 14px;
}
.contact__submit-button {
  border-radius: var(--buttons-border-radius);
}
.contact__submit-button:focus {
  background-color: var(--bg-color-quaternary);
}
@media screen and (max-width: 768px) {
  .contact__submit-button {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact__submit-button {
    width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .contact__submit-button {
    width: 100%;
  }
}
.contact__submit-button:hover {
  background-color: var(--bg-color-quaternary);
}
.contact__submit-button:active {
  background-color: var(--buttons-bg-color--active);
  color: var(--buttons-color-active);
}
.contact__validated-form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.lightbox__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 80%;
  height: 95vh;
  z-index: 3;
  border-radius: var(--buttons-border-radius);
  box-shadow: 0px 2px 8px var(--dialog-shadow-color);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .lightbox__modal {
    height: 100vh;
    width: 100%;
  }
}
.lightbox__modal::-webkit-backdrop {
  background-color: #e5e5e5;
}
.lightbox__modal::backdrop {
  background-color: rgba(229, 229, 229, 0.4);
}
.lightbox__content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.lightbox__button-close-dialog {
  position: absolute;
  right: 25px;
  top: 25px;
  aspect-ratio: 1/1;
  height: 35px;
  color: var(--text-color-secondary);
}
.lightbox__button-close-dialog-icon {
  font-size: 35px;
}
.lightbox__button-previous {
  position: absolute;
  top: 50%;
  left: 25px;
  aspect-ratio: 1/1;
  height: 35px;
  color: var(--text-color-secondary);
}
.lightbox__button-previous-icon {
  font-size: 35px;
}
.lightbox__button-next {
  position: absolute;
  top: 50%;
  right: 25px;
  aspect-ratio: 1/1;
  height: 35px;
  color: var(--text-color-secondary);
}
.lightbox__button-next-icon {
  font-size: 35px;
}
.lightbox__image-post-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90%;
  width: 90%;
}
.lightbox__image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
}
.lightbox__image {
  border-radius: var(--buttons-border-radius);
  max-width: 80%;
  max-height: 650px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
@media screen and (max-width: 768px) {
  .lightbox__image {
    width: 70%;
    height: 80%;
  }
}
.lightbox__video {
  border-radius: var(--buttons-border-radius);
  max-width: 80%;
  max-height: 650px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
@media screen and (max-width: 768px) {
  .lightbox__video {
    width: 70%;
    height: 80%;
  }
}
.lightbox__post-description {
  position: absolute;
  bottom: 22px;
  left: 81px;
  color: var(--text-color-secondary);
}

.profile__card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.profile__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15%;
}
.profile__card h1 {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .profile__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-left: 0%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .profile__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-left: 0%;
  }
}
.profile__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.profile__name {
  color: var(--text-color-secondary);
  font-size: 44px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .profile__name {
    text-align: center;
  }
}
.profile__location {
  color: var(--text-color-quinary);
  font-size: 24px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .profile__location {
    text-align: center;
  }
}
.profile__slogan {
  color: var(--text-color-slogan);
  font-size: 18px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .profile__slogan {
    text-align: center;
  }
}
.profile__image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 768px) {
  .profile__image-container {
    order: -1;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .profile__image-container {
    order: -1;
  }
}
.profile__image {
  aspect-ratio: 1/1;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.images {
  position: relative;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .images {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .images {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-left: 25px;
  }
}
@media screen and (min-width: 1150px) {
  .images > * {
    margin-left: 25px;
  }
}
.images__sorter {
  margin-left: 25px;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
@media screen and (max-width: 768px) {
  .images__sorter {
    justify-content: center;
    align-items: center;
  }
}
.images__select-container {
  position: relative;
}
.images__post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 768px) {
  .images__post-container:nth-child(odd) {
    background-color: var(--odd-card-bg-color);
    border-radius: 6px;
  }
}
.images__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  max-width: 350px;
  transition: scale 350ms ease-out;
}
@media screen and (max-width: 768px) {
  .images__post {
    max-width: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images__post {
    max-width: 350px;
  }
}
.images__post:hover {
  scale: 105%;
}
.images__post-container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 768px) {
  .images__post-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images__post-container {
    max-width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1150px) {
  .images__post-container {
    max-width: 100%;
  }
}
.images__post-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}
.images__post-description {
  color: var(--bg-color-secondary);
}
.images__post-like-button {
  color: var(--bg-color-secondary);
  margin-right: 1px;
}
.images__image {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: var(--buttons-border-radius);
}
.images__video {
  width: 350px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--buttons-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.dropdown-menu {
  margin-top: -5px;
  background-color: var(--buttons-bg-color);
  width: 170px;
  max-height: 170px;
  border-radius: 0 0 var(--buttons-border-radius) var(--buttons-border-radius);
}
@media screen and (max-width: 768px) {
  .dropdown-menu {
    display: none;
  }
}
.dropdown-menu__sort-button {
  display: block;
  background-color: var(--buttons-bg-color);
  color: var(--buttons-color);
  font-size: 16px;
  text-align: left;
  padding: 14px;
  width: 170px;
  border-radius: var(--buttons-border-radius);
}
@media screen and (max-width: 768px) {
  .dropdown-menu__sort-button {
    display: none;
  }
}
.dropdown-menu__icon-container {
  position: absolute;
  right: 25px;
  top: 18px;
  transition: rotate 250ms ease-out;
  aspect-ratio: 1/1;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.dropdown-menu__icon {
  font-size: 14px;
  color: var(--buttons-color);
  position: absolute;
}
.dropdown-menu__list {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.dropdown-menu__list-item {
  padding-block: 14px;
  width: 88%;
  text-align: left;
  border-top: 2px solid white;
  color: var(--buttons-color);
}
.dropdown-menu__list-item:hover {
  cursor: pointer;
  background-color: var(--buttons-bg-color--hover);
  color: var(--buttons-color--hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: black;
    --tab-shadow-color: darkblue;
    --text-color-primary: #D3573C;
    --text-color-secondary: #d93939;
    --text-color-tertiary: white;
    --text-color-quaternary: #8a8a8a;
    --text-color-slogan: #adadad;
    --bg-color-primary: #d3573c;
    --bg-color-secondary: #d93939;
    --bg-color-tertiary: white;
    --bg-color-quaternary: #8a8a8a;
    --scrollbar-bg-color: transparent;
    --scrollbar-thumb-bg-color: #686868;
    --scrollbar-thumb-bg-color--hover: #7b7b7b;
    --scrollbar-thumb-bg-color--active: #a1a1a1;
    --odd-card-bg-color: #0a0a0a;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --body-bg-color: white;
    --tab-shadow-color: #d4ebf2;
    --text-color-primary: #D3573C;
    --text-color-secondary: #d93939;
    --text-color-tertiary: black;
    --text-color-quaternary: #8a8a8a;
    --text-color-quinary: #901c1c;
    --text-color-slogan: #525252;
    --bg-color-primary: #d3573c;
    --bg-color-secondary: #901c1c;
    --bg-color-tertiary: black;
    --bg-color-quaternary: #8a8a8a;
    --scrollbar-bg-color: transparent;
    --scrollbar-thumb-bg-color: rgba(190, 187, 187, 0.3568627451);
    --scrollbar-thumb-bg-color--hover: #7b7b7b;
    --scrollbar-thumb-bg-color--active: #a1a1a1;
    --odd-card-bg-color: #fafbfc;
  }
}

/*# sourceMappingURL=style.css.map */
