body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.photographer-section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portrait-name {
    color: #D3573C;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 20px;
    margin: 0;
}

.portrait-img {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 5px 10px #c2c1c1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 200px;
    width: 200px;
}

.photographer-section a {
    text-align: center;
    text-decoration: none;
    transform: translateY(0) scale(1);
    transition: all .5s ease .2s;
}

.photographer-section a:hover {
    transform: translateY(-10px) scale(1.1);
}

.photographer-section p {
    margin: 0;
    line-height: 1.5em;

}

.portrait-city {
    color: #901C1C;
    font-size: 15px;
    font-weight: 600;
}

.portrait-tagline {
    font-size: 12px;
    font-weight: 600;
}

.portrait-price {
    font-size: 10px;
    font-weight: 100;
    font-weight: lighter;
    color: #525252;
}

@media screen and (max-width: 768px) {
        .photographer-section {
            grid-template-columns: 1fr;
        }

        .logo ,header h1{
            margin: 20px 0 0;
        }

        header {
            flex-direction: column;
        }
}

@media screen and (max-width: 1150px) {
        .photographer-section {
            grid-template-columns: 1fr 1fr;
        }
}