@import "../Utils/variables";
@import "../Utils/mixins";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 60px;
    padding: 0 100px;

    @include mobile-only {
        @include center-flex-column(20px);
    }

    &__logo {
        width: 200px;
        height: 50px;
        transition: filter 350ms ease-out;

        &:hover {
            filter: drop-shadow(5px 5px 2px #901C1C);
        }
    }

    &__title {
        font-size: 36px;
        text-align: center;
        color: var(--text-color-secondary);
    }
}