@import "../Utils/variables";
@import "../Utils/mixins";

.button {
  padding: 19px 23px;
  font-size: 18px;
  background-color: var(--buttons-bg-color);
  color: var(--buttons-color);

  &:hover {
    background-color: var(--buttons-bg-color--hover);
    color: var(--buttons-color--hover);
  }

  &:focus {
    background-color: var(--buttons-bg-color--focus);
    color: var(--buttons-color--focus);
  }

  &--rounded {
    border-radius: var(--buttons-border-radius);
  }
}
