@import "../Utils/variables";
@import "../Utils/mixins";

.main {
    min-height: 100vh;
    margin: 0 100px 50px;

    &__invoice-likes {
        position: fixed;
        bottom: 0px;
        right: 35px;

        background-color: var(--bg-color-likes-invoice);
        color: var(--text-color-invoice);

        height: 45px;
        width: 375px;

        @include mobile-only {
            height: 5%;
            width: 80%;
        }

        z-index: 2;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 10px;

        font-weight: 600;

        border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
    }

    &__profile-container {
        position: relative;
        padding: 20px 10px;
        background-color: var(--bg-color-quinary);
        border-radius: 10px;
        @include grid(1, 3, 50px);

        @include mobile-only {
            @include grid(2, 1, 10px);
        }

        @include tablet-only {
            @include grid(2, 1, 10px);
        }
    }

    &__photographs-container {
        @include desktop-only {
            margin-top: 50px;
        }

        display: flex;
        flex-direction: column;
        padding-top: 20px
    }




}

.contact {
    &__modal {
        @include position-fix-center;
        z-index: 3;
        overflow: hidden;
        background-color: var(--dialog-bg-color);
        color: var(--text-color-invoice);
        padding: 15px;
        border-radius: var(--buttons-border-radius);
        box-shadow: 0px 2px 8px var(--dialog-shadow-color);

        width: 40%;
        height: 90vh;

        @include laptop-only {
            width: 60%;
        }

        @include tablet-only {
            width: 70%;
        }

        @include mobile-only {
            width: 100%;
            height: 100vh;
        }

        &-content {
            height: 100%;
        }

        &::-webkit-backdrop {
            //Due to a bug, we cannot use CSS variables to give a color to the backdrop
            // background-color: var(--dialog-backdrop-bg-color);
            background-color: #c4c4c466;
        }

        &::backdrop {
            //Due to a bug, we cannot use CSS variables to give a color to the backdrop
            // background-color: var(--dialog-backdrop-bg-color);
            background-color: #c4c4c466;
        }
    }

    &__title-button {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 20%;
    }

    &__title {
        font-size: 44px;

        @include mobile-only {
            font-size: 34px;
        }
    }

    &__button-close-dialog {
        color: var(--buttons-color);
        aspect-ratio: 1/1;
        height: 35px;

        &-icon {
            font-size: 35px;
            color: var(--text-color-invoice);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 25px;
        height: 75%;
    }

    &__legend {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__fieldset {
        width: 100%;

        &-section {
            width: inherit;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__label {
        font-size: 26px;
    }

    &__input {
        border-radius: var(--buttons-border-radius);
        width: 100%;
        height: 50px;
        font-size: 22px;
        padding: 5px 10px;
    }

    &__text-area {
        border-radius: var(--buttons-border-radius);
        width: 100%;
        height: 120px;
        font-size: 22px;
        padding: 5px 10px;
    }

    &__error-message {
        margin-top: -2px;
        padding-inline: 5px;
        background-color: var(--input-outline-color--invalid);
        color: var(--input-message-color);
        border-radius: 0 0 var(--buttons-border-radius) var(--buttons-border-radius);
        margin-bottom: 10px;
        font-size: 14px;
    }

    &__submit-button {
        border-radius: var(--buttons-border-radius);

        &:focus {
            background-color: var(--bg-color-quaternary);
        }

        @include mobile-only {
            width: 100%;
        }

        @include tablet-only {
            width: 100%;
        }

        @include laptop-only {
            width: 100%;
        }

        &:hover {
            background-color: var(--bg-color-quaternary);
        }

        &:active {
            background-color: var(--buttons-bg-color--active);
            color: var(--buttons-color-active);

        }
    }


    &__validated-form {
        height: 70%;
        @include center-flex-column;
    }

}

.lightbox {
    &__modal {
        @include position-fix-center;
        width: 80%;
        height: 95vh;

        @include mobile-only {
            height: 100vh;
            width: 100%;
        }

        z-index: 3;
        border-radius: var(--buttons-border-radius);
        box-shadow: 0px 2px 8px var(--dialog-shadow-color);
        overflow: hidden;

        &::-webkit-backdrop {
            // background-color: var(--dialog-lightbox-backdrop-bg-color);
            background-color: #e5e5e5;
        }


        &::backdrop {
            // background-color: var(--dialog-lightbox-backdrop-bg-color);
            background-color: rgba(229, 229, 229, 0.4);
        }
    }

    &__content {
        position: relative;
        height: 100%;
        width: 100%;
        @include center-flex-column;


    }

    &__button-close-dialog {
        position: absolute;
        right: 25px;
        top: 25px;

        aspect-ratio: 1/1;
        height: 35px;
        color: var(--text-color-secondary);


        &-icon {
            font-size: 35px;
        }
    }

    &__button-previous {
        position: absolute;
        top: 50%;
        left: 25px;
        aspect-ratio: 1/1;
        height: 35px;
        color: var(--text-color-secondary);

        &-icon {
            font-size: 35px;
        }

    }

    &__button-next {
        position: absolute;
        top: 50%;
        right: 25px;
        aspect-ratio: 1/1;
        height: 35px;
        color: var(--text-color-secondary);

        &-icon {
            font-size: 35px;
        }

    }


    &__image-post-description {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 90%;
        width: 90%;
    }

    &__image-container {
        @include center-flex;
        width: 100%;
    }

    &__image {
        border-radius: var(--buttons-border-radius);
        max-width: 80%;
        max-height: 650px;

        @include mobile-only {
            width: 70%;
            height: 80%;
        }

        -o-object-fit: cover;

        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    &__video {
        border-radius: var(--buttons-border-radius);
        max-width: 80%;
        max-height: 650px;

        @include mobile-only {
            width: 70%;
            height: 80%;
        }

        -o-object-fit: cover;

        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    &__post-description {
        position: absolute;
        bottom: 22px;
        left: 81px;
        color: var(--text-color-secondary);
        ;
    }



}

.profile {
    &__card-container {
        @include center-flex-column
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 15%;
        
        & h1 {
            margin: 0;
        }
        @include mobile-only {
            @include center-flex-column;
            margin-left: 0%
        }

        @include tablet-only {
            @include center-flex-column;
            margin-left: 0%
        }
    }

    &__contact {
        @include center-flex();
    }

    &__name {
        color: var(--text-color-secondary);
        font-size: 44px;



        text-align: left;
        
        @include mobile-only {
            text-align: center;
        }
    }

    &__location {
        color: var(--text-color-secondary);
        font-size: 24px;
        text-align: left;

        @include mobile-only {
            text-align: center;
        }
    }

    &__slogan {
        color: var(--text-color-slogan);
        font-size: 18px;
        text-align: left;

        @include mobile-only {
            text-align: center;
        }
    }

    &__image-container {
        @include center-flex;

        @include mobile-only {
            order: -1;
        }

        @include tablet-only {
            order: -1;
        }
    }


    &__image {
        aspect-ratio: 1/1;
        height: 200px;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}

.images {
    @include grid(1, 3, 25px);

    @include mobile-only {

        @include grid(1, 1, 15px);
    }

    @include tablet-only {


        @include grid(2, 2, 15px)
    }

    @include laptop-only {
        @include grid(2, 2, 15px);
        margin-left: 25px;
    }

    @include desktop-only {
        &>* {
            margin-left: 25px;
        }

    }

    margin-top: 35px;

    &__sorter {
        margin-left: 25px;
        display: flex;
        justify-content: flex-start;
        gap: 25px;

        @include mobile-only {
            justify-content: center;
            align-items: center
        }
    }

    &__select-container {
        //Relative to the icon container, line: 570
        position: relative;
    }

    &__post-container {
        @include center-flex-column;

        @include mobile-only {
            &:nth-child(odd) {
                background-color: var(--odd-card-bg-color);
                border-radius: 6px
            }
        }
    }

    &__post {
        @include center-flex-column;
        max-width: 350px;

        @include mobile-only {
            max-width: 75%;
        }

        @include tablet-only {
            max-width: 350px;
        }

        transition: scale 350ms ease-out;

        &:hover {
            scale: 105%;
        }
    }

    &__post-container {
        max-width: 350px;
        @include center-flex-column;

        @include mobile-only {
            width: 100%;
            max-width: 100%;
            @include center-flex;
        }

        @include tablet-only {
            max-width: 100%;
        }

        @include laptop-only {
            max-width: 100%;
        }
    }

    &__post-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
    }

    &__post-description {
        color: var(--bg-color-secondary);
    }

    &__post-like-button {
        color: var(--bg-color-secondary);
        margin-right: 1px;
    }

    &__image {
        width: 350px;
        height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        border-radius: var(--buttons-border-radius);
    }

    &__video {
        width: 350px;
        height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: var(--buttons-border-radius);
        @include center-flex-column;
    }

}

.dropdown-menu {
    margin-top: -5px;
    background-color: var(--buttons-bg-color);
    //Not using aspect ratio here since we intend to change the height of the element when the user clicks on it
    width: 170px;
    max-height: 170px;
    border-radius: 0 0 var(--buttons-border-radius) var(--buttons-border-radius);

    @include mobile-only {
        display: none;
    }

    &__sort-button {
        display: block;

        @include mobile-only {
            display: none;
        }

        @include sort-element-styling;
    }

    &__icon-container {
        //Absolute to the position of the select container, line: 466
        position: absolute;
        right: 25px;
        top: 18px;

        transition: rotate 250ms ease-out;
        aspect-ratio: 1/1;
        height: 12px;
        @include center-flex;
    }

    &__icon {
        font-size: 14px;
        color: var(--buttons-color);
        position: absolute;
    }


    &__list {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__list-item {
        padding-block: 14px;
        width: 88%;
        text-align: left;
        border-top: 2px solid white;
        color: var(--buttons-color);

        &:hover {
            cursor: pointer;
            background-color: var(--buttons-bg-color--hover);
            color: var(--buttons-color--hover);

        }
    }

}