@import "../Utils/variables";
@import "../Utils/mixins";

//Class to toggle the display of element in the DOM
.hide {
    display: none !important;
}

.show {
    display: block !important;
}


//Keyframes for the entry/exit of the element in the DOM
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fade-out {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

//Class that changes color when the user likes the post
.active-like {
    color: var(--dialog-bg-color) !important;
}

.active-sort-button-icon {
    rotate: 180deg;
}

.invalid-input {
    background-color: var(--input-bg-color--invalid);
    outline: 2px solid var(--input-outline-color--invalid);
    outline-offset: -5px;
    color: var(--input-message-color);
    border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0 !important;
}

.invalid-text-area {
    background-color: var(--input-bg-color--invalid);
    outline: 2px solid var(--input-outline-color--invalid);
    outline-offset: -5px;
    color: var(--input-message-color);
    border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
    height: 75px !important;
}

.valid-input {
    background-color: var(--input-bg-color--valid);
    outline: 2px solid var(--input-outline-color--valid);
    outline-offset: -5px;
    color: var(--input-message-color);
    border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
}

.valid-text-area {
    background-color: var(--input-bg-color--valid);
    outline: 2px solid var(--input-outline-color--valid);
    outline-offset: -5px;
    color: var(--input-message-color);
    border-radius: var(--buttons-border-radius) var(--buttons-border-radius) 0 0;
    height: 75px;
}