@import "../Utils/variables";
//Maps
$breakpoints : ( //Breakpoints for the media queries    
    mobile: 768px,
    tablet: 992px,
    laptop: 993px,
    desktop: 1150px);

//Mixins

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin laptop-only {
    @media screen and (min-width: map-get($breakpoints, laptop)) and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin center-flex($gap: 0px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin center-flex-column($gap: 0px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin grid($rows: auto-fill, $columns: auto-fill, $gap: 0px) {
    display: grid;
    grid-template-rows: repeat($rows, 1fr);
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}


@mixin position-fix-center {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin sort-element-styling {
    background-color: var(--buttons-bg-color);
    color: var(--buttons-color);

    font-size: 16px;
    text-align: left;

    padding: 14px;

    width: 170px;

    border-radius: var(--buttons-border-radius);
}

// @mixin expand-animation {
    
// }